.profile__info {
  width: calc(100% - 30px * 2 - 120px - 150px);
}

@media screen and (max-width: 1023px) {
  .profile__info {
    width: calc(100% - 30px * 2 - 100px - 125px);
  }
}

@media screen and (max-width: 767px) {
  .profile__info {
    width: 100%;
    padding: 23px 0 34px;
    text-align: center;
  }
}
