.header__nav-button {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  padding-top: 10px;
  transition: 0.5s;
  border: none;
  background-color: #000000;
}

.header__nav-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
